html {
    font-size: var(--font-size);
    line-height: var(--line-height);
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font);
    font-weight: var(--font-weight);
    color: var(--color);
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background);
}