:root {
    --font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-weight: 400;
    --heading-font: var(--font);
    --heading-weight: 700;
    --line-height: 1.3;
    --color: #000;
    --link-color: #00f;
    --background-color: #fff;
}